<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header padding style="padding-bottom: 0">

  <ion-navbar style="background: #ffffff; padding: 0">
    <!-- <ion-title style="background-color: #ffffff">
      <p>Th 3 22/12/2018</p>
      <p>Chào buổi sáng sd</p>
    </ion-title> -->
    <div>
      <p>Th 3 22/12/2018</p>
      <h4>Chào buổi sáng</h4>
    </div>
    <div id="home-setting">
      <i class="fas fa-cog"></i>
    </div>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h4>Liệu trình trong ngày</h4>
  <ion-scroll scrollX="true" style="width:100%; height:300px" class="pills">
    <ion-row nowrap>
      <div *ngFor="let slide of slides" class="pills-item">
        <ion-card style="width: 180px; background-color: #faf9f9">
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col col-3>
                  <ion-checkbox color="primary" checked="false"></ion-checkbox>
                </ion-col>
                <ion-col col-9>
                  <h1 [innerHTML]="slide.time"></h1>
                  <h1 [style.color]="slide.color" [innerHTML]="slide.description"></h1>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
          <ion-card-content>
            <img style="width: 80%; display: block; margin-left: auto; margin-right: auto;" [src]="slide.image" class="slide-image"/>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-row>
  </ion-scroll> 

    <h4>Chi tiết liệu trình</h4>
    <hr style="background-color: #0c63f0; height: 2px; border: 0;">
    <ion-scroll scrollY="true"style="width:100%; height:50%" >
      <div class="pills-details">
        <div *ngFor="let slide of slides">
          <div class="pills-details-left">
            <h6 [innerHTML]="slide.name"></h6>
            <p [innerHTML]="slide.number"></p>  
          </div>
        </div>
        <div class="pill-details-right" style="display: flex; align-items: center">
          <i class="fas fa-angle-right" style="font-size: 20px"></i>
        </div>
      </div>
      <div class="pills-details">
          <div *ngFor="let slide of slides">
            <div class="pills-details-left">
              <h6 [innerHTML]="slide.name"></h6>
              <p [innerHTML]="slide.number"></p>  
            </div>
          </div>
          <div class="pill-details-right" style="display: flex; align-items: center">
            <i class="fas fa-angle-right" style="font-size: 20px"></i>
          </div>
        </div>
        <div class="pills-details">
            <div *ngFor="let slide of slides">
              <div class="pills-details-left">
                <h6 [innerHTML]="slide.name"></h6>
                <p [innerHTML]="slide.number"></p>  
              </div>
            </div>
            <div class="pill-details-right" style="display: flex; align-items: center">
              <i class="fas fa-angle-right" style="font-size: 20px"></i>
            </div>
          </div>
          <div class="pills-details">
              <div *ngFor="let slide of slides">
                <div class="pills-details-left">
                  <h6 [innerHTML]="slide.name"></h6>
                  <p [innerHTML]="slide.number"></p>  
                </div>
              </div>
              <div class="pill-details-right" style="display: flex; align-items: center">
                <i class="fas fa-angle-right" style="font-size: 20px"></i>
              </div>
            </div>
            <div class="pills-details">
                <div *ngFor="let slide of slides">
                  <div class="pills-details-left">
                    <h6 [innerHTML]="slide.name"></h6>
                    <p [innerHTML]="slide.number"></p>  
                  </div>
                </div>
                <div class="pill-details-right" style="display: flex; align-items: center">
                  <i class="fas fa-angle-right" style="font-size: 20px"></i>
                </div>
              </div>
              <div class="pills-details">
                  <div *ngFor="let slide of slides">
                    <div class="pills-details-left">
                      <h6 [innerHTML]="slide.name"></h6>
                      <p [innerHTML]="slide.number"></p>  
                    </div>
                  </div>
                  <div class="pill-details-right" style="display: flex; align-items: center">
                    <i class="fas fa-angle-right" style="font-size: 20px"></i>
                  </div>
                </div>
      <!-- <div *ngFor="let slide of slides">
          <div class="pills-details-left">
              <h6 [innerHTML]="slide.name1"></h6>
              <p [innerHTML]="slide.number1"></p>  
            </div>
            <div class="pill-details-right">
              <i class="fas fa-angle-right"></i>
            </div>
      </div>
      <div *ngFor="let slide of slides">
          <div class="pills-details-left">
              <h6 [innerHTML]="slide.name2"></h6>
              <p [innerHTML]="slide.number2"></p>  
            </div>
            <div class="pill-details-right">
              <i class="fas fa-angle-right"></i>
            </div>
      </div>
      <div *ngFor="let slide of slides">
          <div class="pills-details-left">
              <h6 [innerHTML]="slide.name3"></h6>
              <p [innerHTML]="slide.number3"></p>  
            </div>
            <div class="pill-details-right">
              <i class="fas fa-angle-right"></i>
            </div>
      </div>
      <div *ngFor="let slide of slides">
          <div class="pills-details-left">
              <h6 [innerHTML]="slide.name4"></h6>
              <p [innerHTML]="slide.number4"></p>  
            </div>
            <div class="pill-details-right">
              <i class="fas fa-angle-right"></i>
            </div>
      </div>
      <div *ngFor="let slide of slides">
          <div class="pills-details-left">
              <h6 [innerHTML]="slide.name5"></h6>
              <p [innerHTML]="slide.number5"></p>  
            </div>
            <div class="pill-details-right">
              <i class="fas fa-angle-right"></i>
            </div>
      </div>
      <div *ngFor="let slide of slides">
          <div class="pills-details-left">
              <h6 [innerHTML]="slide.name6"></h6>
              <p [innerHTML]="slide.number6"></p>  
            </div>
            <div class="pill-details-right">
              <i class="fas fa-angle-right"></i>
            </div>
      </div> -->
    </ion-scroll>
</ion-content>
