page-home {
    .toolbar-background {
        background: #ffffff;
        border-bottom: 1px solid #538EF1 !important;
    }
    .toolbar-content {
        display: flex;
        justify-content: space-between;
        #home-setting {
            display: flex;
            // align-items: center;
            i {
                color: #4185F0;
                font-size: 25px;
            }
        }
    }

    // Content
    .pills {
        .scroll-content {
            padding: 0 !important;
            .pills-item {
                .card {
                    border: 1px solid #D4E4FB;
                    width: 255px !important;
                    height: 255px;
                }
                .card-header {
                    padding-left: 0;
                    padding-right: 0;
                }
                .card-content {
                    img {
                        width: 55% !important;
                    }
                }
                &:first-child {
                    margin-left: 1px;
                }
            }
        }
    }
    .pills-details {
        display: flex;
        justify-content: space-between;
    }
}
